<%- include('../partials/header') %>
<div class="profile-page">
  <%= user.name %>
  <img src="<%= user.avatarUrl %>" alt="disp pic">
  <div>
    <h3><%= user.name %>'s Friends</h3>
    <ul class = 'friend'>
     <% friends.forEach((friend) => { %>
         <li> <%= friend.name %>
            <img src="<%= friend.avatarUrl %>" alt="friend pic">
        </li>
           <% }) %>

    </ul>
  </div>
</div>
<%- include('../partials/footer') %>