<%- include('../partials/header') %>
<div class= "bucket1 " >
   <img src="<%= user.avatarUrl %>" class='' alt="disp pic">
   <p><%= user.name %></p>
</div>
 <div class= "bucket2" >
    <h3 ><%= user.name %>'s Friends</h3>
    <ul class = 'listmain  ' >
     <% friends.forEach((friend) => { %>
         <li class = "pic" > <%= friend.name %>
            <img src="<%= friend.avatarUrl %>" class -alt="friend pic">
        </li>
           <% }) %>

    </ul>
  </div>
</div>
<%- include('../partials/footer') %>